.container {
  min-height: 100vh;
}

.innerContainer {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumbLink {
  color: #4a90e2; /* Link color */
  text-decoration: none;
}

.breadcrumbIcon {
  margin: 0 8px; /* Spacing between icons */
}

.heading1 {
  font-size: 2rem; /* Corresponds to text-2xl */
  margin-bottom: 1rem; /* Corresponds to mb-4 */
}

.para {
  margin-bottom: 1.5rem; /* Corresponds to mb-6 */
  color: #4a4a4a; /* Corresponds to text-gray-600 */
}

.sidebarAndMain {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7; /* Light background color */
  border-right: 1px solid #ddd; /* Border for separation */
}

.sidebarContent {
  margin-bottom: 1.5rem;
}

.resultsCount {
  font-size: 1.25rem; /* Corresponds to text-xl */
  margin-bottom: 1rem; /* Corresponds to mb-4 */
}

.filterSection {
  margin-bottom: 1rem; /* Corresponds to mb-4 */
}

.filterTitle {
  font-weight: bold; /* Corresponds to font-bold */
  margin-bottom: 0.5rem; /* Corresponds to mb-2 */
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Corresponds to mb-2 */
}

.checkbox {
  margin-right: 0.5rem; /* Spacing between checkbox and label */
}

.checkboxLabel {
  color: #4a4a4a; /* Corresponds to text-gray-600 */
}

.mainContent {
  flex: 3;
  padding: 20px;
}

.card {
  border: 1px solid #ddd; /* Border around cards */
  border-radius: 0.5rem; /* Rounded corners */
  margin-bottom: 1rem; /* Space between cards */
  background-color: #fff; /* White background for cards */
  transition: box-shadow 0.2s; /* Smooth shadow transition */
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow on hover */
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* Corresponds to p-4 */
  cursor: pointer; /* Pointer cursor for clickable header */
}

.cardTitle {
  font-size: 1.25rem; /* Corresponds to text-xl */
}

.cardDescription {
  padding: 1rem; /* Corresponds to p-4 */
  border-top: 1px solid #ddd; /* Separator between header and content */
}

.cardDetail {
  display: flex;
  justify-content: space-between; /* Space between icon and text */
  align-items: center; /* Center align items */
  margin-bottom: 0.5rem; /* Space between details */
}

.cardDetailSection {
  display: flex;
  align-items: center; /* Center align icon and text */
}

.cardDetailTitle {
  font-weight: bold; /* Corresponds to font-bold */
  margin-right: 0.5rem; /* Space between title and value */
}

.textGray600 {
  color: #4a4a4a; /* Corresponds to text-gray-600 */
}

.textGray300 {
  color: #a0aec0; /* Corresponds to text-gray-300 */
}

.iconMargin {
  margin-right: 0.5rem; /* Space between icon and text */
}
